.ProductList{
    width: 100%;
    display: flex;
    flex-wrap: wrap;

}

.productCard{
    flex-basis: 30%;
    margin: 5px;
    padding: 5px;

    border: 1px solid grey;
    border-radius: 8%;
    background-color: #faf8f8;

    display: flex;

}

.productCard img{
    height: 100px;
}